In [18]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import string as str

In [2]:
df =  pd.read_csv("World_Vaccination_Progress.csv")

In [6]:
df.tail(10)

,Country,Doses Administered,Doses per 1000,Fully Vaccinated Population (%),Vaccine being used in a country
176,Guinea-Bissau,25225,13.5,0.1,"Oxford/AstraZeneca, Sinopharm/Beijing"
177,Sint Maarten (Dutch part),24634,605.9,24.5,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"
178,Chad,24459,1.6,0.0,Sinopharm/Beijing
179,Andorra,19064,247.6,1.6,"Oxford/AstraZeneca, Pfizer/BioNTech"
180,Anguilla,13235,732.6,24.5,Oxford/AstraZeneca
181,Nauru,10556,830.9,24.0,Oxford/AstraZeneca
182,Wallis and Futuna,9112,576.4,28.5,Oxford/AstraZeneca
183,Bonaire Sint Eustatius and Saba,7391,275.7,6.2,"Moderna, Pfizer/BioNTech"
184,Falkland Islands,4322,1070.1,42.5,Oxford/AstraZeneca
185,Montserrat,1306,243.7,3.6,Oxford/AstraZeneca

In [30]:
df.isna() # nullun yerini bul
df

,Country,Doses Administered,Doses per 1000,Fully Vaccinated Population (%),Vaccine being used in a country
0,Democratic Republic of Congo,73764,0.9,0.0,Oxford/AstraZeneca
1,World,3695131183,486.6,13.5,NaN
2,India,411846401,304.5,6.3,"Covaxin, Oxford/AstraZeneca, Sputnik V"
3,United States,338247434,1033.9,49.4,"Johnson&Johnson, Moderna, Pfizer/BioNTech"
4,Brazil,124906515,596.3,16.5,"Johnson&Johnson, Oxford / AstraZeneca, Oxford/..."
...,...,...,...,...,...
181,Nauru,10556,830.9,24.0,Oxford/AstraZeneca
182,Wallis and Futuna,9112,576.4,28.5,Oxford/AstraZeneca
183,Bonaire Sint Eustatius and Saba,7391,275.7,6.2,"Moderna, Pfizer/BioNTech"
184,Falkland Islands,4322,1070.1,42.5,Oxford/AstraZeneca
185,Montserrat,1306,243.7,3.6,Oxford/AstraZeneca

In [73]:
dfgdp = pd.read_csv("gdp-csv-.csv")

In [74]:
dfgdp2 = dfgdp[["Unnamed: 3","Unnamed: 4"]]

In [75]:
dfgdp2.rename(columns={"Unnamed: 3":"Country","Unnamed: 4":"GDP_US_Dollars"},inplace=True)

C:\Users\CASPER\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [77]:
dfgdp2.drop([0,1,2,3],axis=0,inplace=True)

C:\Users\CASPER\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [79]:
dfgdp2.head(15)

               Country GDP_US_Dollars
4        United States    19,485,394
5                China    12,237,700
6                Japan     4,872,415
7              Germany     3,693,204
8                India     2,650,725
9       United Kingdom     2,637,866
10              France     2,582,501
11              Brazil     2,053,595
12               Italy     1,943,835
13              Canada     1,647,120
14  Russian Federation     1,578,417
15         Korea, Rep.     1,530,751
16           Australia     1,323,421
17               Spain     1,314,314
18              Mexico     1,150,888

df ve dfgdp olmak üzere iki dataframe var elimde. Gdp verilerini merge etmeden önce, dfgdp2 deki ülke isimlerini df de aratarak aynı isimler olduğunu teyit ettiketen sonra merge işlemini gerçekleştireceğim.

In [ ]:

df.merge() #